div .main {
    overflow:hidden;
}
#main1 {
    height:40px;
    margin-top:5px;
    color:#9d9d9d;
    font-size: 13px;
}
#main2{
    margin-top: 5px;
    color: #9d9d9d;
    margin-bottom: 2px;
    font-size: 13px;
}
#main3{
    margin-top: 8px;
    color:#9d9d9d;
    margin-bottom: 20px;
    font-size: 13px;
}
#v1 {
    background-color:#f8f7f7;
    box-shadow:3px 3px 5px gray;
    margin-right: 15px;
}
#v2{
    background-color:#f8f7f7;
    box-shadow:3px 3px 5px gray;
    margin-right: 15px;
}
#v3{
    background-color:#f8f7f7;
    box-shadow:3px 3px 5px gray;
}